{% extends 'layout.html' %}

{% block content %}
  
  <div class='page-header'>
    <h1>{{title}}</h1>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <img src='https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg'><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class='col-md-9'>
      {% if showForm %}
        <form action="/submit" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" />

          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}
      <h3>All Tweets</h3>
      <!-- display tweets here -->
      <div class="">
        <ul class="list-group">
          {% for tweet in tweets %}
            <li class="list-group-item tweets">
              <div class="box">
                
              </div>
              <div class="tweet">
                <div class="name list-group-item-heading">
                  <a href="/users/{{tweet.name}}"><h4 class="list-group-item-heading">{{ tweet.name }}</h4></a>
                </div>
                <div class="tweet-text list-group-item-text">
                  <a href="/users/{{tweet.name}}/tweets/{{tweet.id}}"><p>{{tweet.text}}</p></a>
                  <a>Re-tweet</a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      
    </div>
  </div>
    
{% endblock %}